    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    background-color: lightgrey;
}

header{
    background-color: #ffff;
    padding: 2%;
}

header img{
    line-height: 100%;
    vertical-align: middle;
    padding-left: 10px;
}


#titolo{
    font-size: 35px;
    line-height: 100%;
    vertical-align: middle;


}


main{
    background-color: #ffff;
    margin: auto;
    margin-top: 3%;
    width: 70%;
    height: 600px;
    padding-left: 12%;
}

button{
    border-radius: 3px;
    padding: 1%;
    border: none;

}

#blue{
    background-color: #47ABF0;
    color: #fff;
}   

.grey{
    background-color: #fff;
    color: grey;
}

input{
    color: lightgrey;
    width: 90px;
    padding-left: 5px;
    padding-top: 3px;
}

.contenuto{
    font-weight: bold;
    font-size: 20px;
}

.triangolo::before{
    content: "\25BC"; 
    font-size:  15px;
    margin-right: 5px;
}

.subtext{
    font-size: 15px;
    padding-bottom: 3%;
}

.simbol{
    font-size: 10px;
    line-height: 100%;
    vertical-align: middle;
}

.check::before{
    content: "\2713";
    border: 1px solid;
    border-radius: 50%;
    padding: 3px 3px;
    border-color:  lightgreen;
    color: lightgreen;
}

.ex::before{
    content: "\78";
    border: 1px solid;
    border-radius: 50%;
    padding: 3px 4.5px;
    border-color: red;
    color: red;
}

.label{
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    padding: 0 3px;
    margin-left: 5px;
}

.label-blu{
    background-color: #45AFEB;
}

.label-viola{
    background-color: #9E75E7;
}

.label-arancione{
    background-color: #F09E35;
}

.label-verde{
    background-color: #63BFA7;
}

.label-rosa{
    background-color: #DA649E;
}

.label-oliva{
    background-color: #ACC725;
}