*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    


body{
    background-color: lightgrey;
}

header{
    background-color: #ffff;
    padding-left: 2%;
}
header img{
    padding-top: 2%;
}

#titolo{
    font-size: 50px;
}

main{
    background-color: #ffff;
    margin: 3% 21% 0% 21%;
}

.add{
    margin-left: 12%;
}

main button{
    background-color: #47ABF0;
    width: 70px;
    border-color: #47ABF0;
    border-radius: 3px;
    color: #fff;
}   

input{
    color: lightgrey;
    width: 90px;
    padding: 0 5px;
}

.contenuto{
    font-weight: bold;
    font-size: 20px;
}

.triangolo::after{
    content: "\0025BE"; 
    font-size:  15px;
}


.check::after{
    content: "\002713";
    font-size: 5px;
    border-radius: 50%;
    border: 1px solid lightgreen;
    color: lightgreen;
    line-height: 100%;
    vertical-align: middle;
}

.ex::after{
    content: "\000078";
    font-size: 5px;
    border-radius: 50%;
    border-width: 1px solid red;
    color: red;
    line-height: 100%;
    vertical-align: middle;
}

.label{
    border-radius: 5px;
    color: #fff;
}

.label-blu{
    border-color: #45AFEB;
    background-color: #45AFEB;
}

.label-viola{
    border-color: #9E75E7;
    background-color: #9E75E7;
}

.label-arancione{
    border-color: #F09E35;
    background-color: #F09E35;
}

.label-verde{
    border-color: #63BFA7;
    background-color: #63BFA7;
}

.label-rosa{
    border-color: #DA649E;
    background-color: #DA649E;
}

.label-oliva{
    border-color: #ACC725;
    background-color: #ACC725;
}