*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    background-color: lightgrey;
}

header{
    background-color: #ffff;
    padding-left: 2%;
}
header img{
    padding-top: 2%;
}

#titolo{
    font-size: 50px;
}

main{
    background-color: #ffff;
    margin-top: 3%;
    margin-left: 21%;
    margin-right: 21%;
    height: 600px;
}

.add{
    padding-left: 12%;
    padding-top: 5%;
}

main button{
    background-color: #47ABF0;
    width: 70px;
    border-color: #47ABF0;
    border-radius: 3px;
    color: #fff;
}   

input{
    color: lightgrey;
    width: 90px;
    padding: 0 5px;
}

.contenuto{
    font-weight: bold;
    font-size: 20px;
}

.triangolo::before{
    content: "\0025BE"; 
    font-size:  15px;
}

.subtext{
    font-size: 15px;
    padding-bottom: 3%;
}

/* .simbol{
    font-size: 5px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 4px;
} */

.check::before{
    content: "\002713";
    font-size: 5px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 4px;
    border-color:  lightgreen;
    color: lightgreen;
}

.ex::before{
    content: "\000078";
    font-size: 5px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 100%;
    vertical-align: middle;
    margin-left: 4px;
    border-color: red;
    color: red;
}

.label{
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    padding: 0 3px;
}

.label-blu{
    border-color: #45AFEB;
    background-color: #45AFEB;
    
}

.label-viola{
    border-color: #9E75E7;
    background-color: #9E75E7;
    

}

.label-arancione{
    border-color: #F09E35;
    background-color: #F09E35;
}

.label-verde{
    border-color: #63BFA7;
    background-color: #63BFA7;
    
}

.label-rosa{
    border-color: #DA649E;
    background-color: #DA649E;
    
}

.label-oliva{
    border-color: #ACC725;
    background-color: #ACC725;

}